
.container {
    padding: 5px;
}

.todo_list {

}

.todo_item {
    list-style-type: none;
    margin-bottom: 15px;
}

.btn {
    padding: 2px;
    margin-left: -20px;
    display: flex;
    gap: 5px;
}